<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <div id="navbar" class="ui top fixed menu">
    <div class="item">
      <a href="/login"><img id="navbarImg" src="assets/img/favicon.png"></a>
    </div>
    <a href="/login" class="item" id="loginButton">Login</a>
    <a href="/signup" class="item" id="signupButton">Sign Up</a>
  </div>
  <div id="background"> </div>
  <section id="content">
  </section>
  <div class="ui warning message" id="boxErrorMessage">
    <div class="header">Error</div>
    <ui class="list">
      <li id="errorMessage">Wrong username or password</li>
    </ui>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>

</html>